
	<header> <!--Inicio header-->


			<div id="W">
			  	<div id="videobox" >  

			  		<video autoplay loop poster="">
					<source src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/Primer+plano/video+fondo.mpeg4">
					<source src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/Primer+plano/video+fondo.mpeg4">
					</video>		  	 
				  	
				</div>
				 <img id="imagw" src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/Primer+plano/citifolk+welcome.svg" class="img-responsive" alt="Image">
				 <div id="frame"></div>
		  	</div>
	</header> <!--Fin header-->
						<div id="bloque1" data-speed="2" data-type="background">
					        <div class="marker">
				            <h2>Rompe la rutina</h2>
				            <p> Sólo busca, encuentra y asiste. </p>
					        </div>
						 </div>

	  		<div id="container-fluid" class="container-fluid">

							<div id="backphoto1" data-speed="4" data-type="background">
						        <div class="marker">
						            <h2 class="introduccion">Descubre</h2>
						        </div>
						    </div>

					<div id="grid">
						<ul class="rig columns-3">
										<li id="arquitectura">
											 <img src="http://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/Aruitectura.jpg" alt="responsive image"/>
											
											<div > <p>Encuentrate con esos espacios arquitectonicos que te sorprenden en tu ciudad. <br> Iglesias, monumentos, parques y catedrales que te impactarán. </p>
											</div>
										</li>
										<li id="danza">
											<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/dance.jpg" alt="responsive image"/>
											
						             		<div ><p>Sorprendete de todas las expreciones del<br> movimiento corporeo.  Danza contemporanea, ballet,<br>  bailes tradicionales, hip-hop, flamenco,<br> brake dance, tango  y entre otros que <br> te harán poner los pelos de punta.  </p></div>
										</li>
										<li id="teatro">
											
											<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/teatro.jpg" alt="responsive image"/>
											<div><p>Vive todas las expresiones de las artes escenicas. Monólogos, clown, circus, teatro al aire libre, teatro infantil, mímica, marionetas.<br> ¡Te encantarán! </p></div>
										</li>
										
																		
										<li id="arte">
											
											<img  src="http://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/arte.jpg"/>
											<div><p>Vive todas las expresiones <br> del arte <br> pintura, streetart,  performance, <br>fotografía,  esculturas, cine y demás. </p></div>
										</li>
										
										<li id="musica">
											<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/musica.jpg" alt="responsive image"/>
											<div ><p>Siente todos los sonidos músicales<br> conciertos, música de cámara, tokes alternativos, <br> milonga, sarzuela, jazz, rap y ópera. <br> ¡Te perderas en ellos!</p></div>
										</li>
										
										<li id="cc">
											<img src="//s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/ImageFilter/ciudad+creativa.jpg" alt="responsive image"/>	
											<div><p>Experimenta todas las actividades<br>formativas, deportivas, académicas y de emprendimiento en tu ciudad.</p></div>
						                 </li>
									</ul>
			        </div>
         							<div id="backphoto2" data-speed="4" data-type="background">
								        <div class="marker">
								            <h2 class="introduccion">Encuentra</h2>
								        </div>
							        </div>
							<div class="row">
								<div   class="col-xs-6 col-sm-6 col-md-6"> 

								  	<img id="marimonda" src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/Logocolor-16.svg"  alt="Responsive image" > 

								</div>				  		

									<div   class="col-xs-6 col-sm-6 col-md-6">	
										        <h1 id="title"> TODA LA MOVIDA CULTURAL QUE TE RODEA ESTÁ AQUÍ. <h1>
										        	

										  		  <p id="text">No hay que ir muy lejos para vivir las mejores experiencias. 
										  		  Tu ciudad y tu cultura. <span>Tú dentro del entretenimiento.</span>
										  		  </p>
									  		    				
									</div>
							</div>



							
				     				    <div id="backphoto3" data-speed="12" data-type="background">
				     				    	<div class="marker">
										        <h2 class="introduccion">Vive la experiencia y compartela</h2>
										        </div>

						 				</div>

					

					        			 <div class="row">
									  		 <div  class="col-xs-4 col-sm-4 col-md-4 "> 

									  		 	<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/claps.svg
												" alt="claps" style="width: 60%; height: auto" class="circles" /> 

									  		 </div>

									  		 <div  class="col-xs-4 col-sm-4 col-md-4 "> 
									  		 	
									  		 	<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/galery.svg" alt="galery" style="width: 60%; height: auto" class="circles"/> 
									         </div>

									  		 <div  class="col-xs-4 col-sm-4 col-md-4  ">
									  		 	
									  		  	<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/heart.svg" alt="bites" class="circles" style="width: 60%; height: auto" /> 

									  		 </div>

										</div> 

							  		 	<div class="row">
								  		 	
								  		 	<div class="col-xs-12 col-sm-4 col-md-4  ">

								  		 		<h1 id="claps">CLAPS</h1>
								  		 	<p class="description">Si realmete te gustó. ¡Se merece una infinidad de aplausos!</p>

								  		 	</div>
								  		 	<div class="col-xs-12 col-sm-4 col-md-4 ">
								  		 		<h1 id="galeria">GALERIA</h1>
								  		  	<p class="description"> Comparte todas las fotografias y manten conjelado los mejores momentos</p>

								  		 	</div>

								  		 	<div class="col-xs-12 col-sm-4 col-md-4">
								  		 		<h1 id="bites">BITES</h1>

								  		 	<p class="description">Siente el latido de lo que tanto te gusta </p>

								  		 	</div>
								  	 </div>

									  	 <div id="backphoto4" data-speed="12" data-type="background">
					     				    	<div class="marker">
											        <h2 class="introduccion">Acumula, redime y disfruta.</h2>
											      </div>

							 				</div>


									    <div class="row">
											<div   class="col-xs-12 col-sm-12 col-md-12"> 
												<div id="phrase">
													<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/phrase.svg" alt="image" >
												</div>

										  	 
										</div>
										

									    <div class="row">

											<div   class="col-xs-6 col-sm-6 col-md-6"> 

												<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/piggy.svg" alt="piggy" id="piggy" />

												<div id="rrf">
													<p > Entre más puntos tengas, podrás <br>  ascender a un rol diferente   obteniendo <br>beneficios únicos dentro de tu categoría. </p>
											    </div>


												
											</div>

											<div   class="col-xs-6 col-sm-6 col-md-6"> 
												
												<div id="piggyf" >
												<p > Podrás obtener esa frase que tanto<br> hará recordar tu experiencia. <br> Además cada frase te otorgará puntos<br> que podras redimir<br> en beneficios. </p>
												</div>

												<img src="https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/SVG/RR.svg" alt="RR" id="rr" >

											</div>
									    </div>



								  	 	<div id="bloque2" data-speed="4" data-type="background">
										        
									        <div class="marker">
									            <h2>¿Qué estás esperando?</h2>
									            <p> <span> <%= link_to 'REGISTRATE', '/users/sign_up' %>  o <%= link_to 'INICIA SESIÓN', '/users/sign_in' %> </span> y descubre toda la cultura a tu alreddor</p>
									        </div>
				                        </div>

				   


						  		

					
		   </div><!-- aqui finaliza el container-fluid-->











