
#background_row_pu {
	background-size: cover;
	background-repeat: none;

}



h1 {

font-family: 'lato'

}

p {

text-align: 'center';
font-family: 'lato' ; 

}

.media-object{
	margin-left: 23%;

}


#primera{
	    
   width: 10%; 
   float:left;
   margin-top: 35%; 
   font-family: 'lato';
   margin-right: -25px;
}

#segunda {
   width: 45%;
   float:left; 
   margin-top: 5%;
}

#tercera {
   width: 45%;
   float:left; 
   margin-top: 5%;
}



#container2 {
   padding-left: 30px;    

}

.col-md-3 {

   background-color: grey; 



}

//.col-md-4 {

  // background-color: grey;



//}

#fluidsu {

   background-color: transparent;
   overflow: hidden;
}

#fluidedit {

   background-color: transparent;
   overflow: hidden;
   color: white;
   margin-top: 5%;
}

#bkgndsignin{
	width:100%;
	height:100%;
	background: url(http://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/login/backgroundlogin.png) no-repeat fixed;
	background-size: cover;

}

#bkgndsignup{
	width:100%;
	height:100%;
	background: url(http://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/login/backgroundsignup.png) no-repeat fixed;
	background-size: cover;
}

#bkgndedit{
	width:100%;
	height:100%;
	background: url(https://s3-sa-east-1.amazonaws.com/cityfolkwtm/Dise%C3%B1os+welcome/login/backgroundedit.jpg) no-repeat fixed;
	background-size: cover;
}



#select{

    color: black;
}

#rowsignin {
	width:100%;
	height:100%;
	position: relative;
}

#signupPage {
	
	width: 30%; 
	height: auto;
	padding-top: 5%;
	margin-left: 35%;
	font-family: "Lato", sans-serinf;
	color: white;

}

#signinPage {
	
	width: 30%; 
	height: auto;
	padding-top: 15%;
	margin-left: 35%;
	font-family: "Lato", sans-serinf;
	color: white;
	
}

