<h1>Lista de usuarios</h1>

<table>
	<tr>
		<th>Nombre del usuario</th>
		<th>Email</th>
		<th>Acciones</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= password %></td>
		</tr>
	<% end %>
</table>
